* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  background-color: #ffffeb;
  width: 100vw;
  height: 100vh;
}

#home {
  border: none;
  background-color: transparent;
  transition: all 0.2s;
  position: absolute;
  left: 10px;
  top: 10px;
}

#home:hover {
  transform: scale(1.2);
  cursor: pointer;
}
main {
  /* margin: 0 15%; */
  height: 100vh;
}

#interface {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#arrow {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes slidein {
  to {
    margin-left: 92%;
  }

  from {
    margin-left: 0%;
  }
}

#result-text {
  text-align: center;
}

#modal {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #00000062;
}
#modal-inner {
  background-color: #ffffeb;
  height: 75vh;
  width: 75vw;
  border-radius: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#dead-again,
#dead-home {
  font-size: 18px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: black;
  padding: 3px 10px;
  transition: all 0.2s;
}

#dead-again:hover,
#dead-home:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: black;
  border-width: 2px;
  font-weight: bold;
  border-radius: 50px;
  background-color: #ffffeb;
}
