* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  background-color: #ffffeb;
}
h1 {
  font-size: 3em;
}
main {
  height: 100dvh;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
button {
  font-size: 28px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: black;
  padding: 5px 10px;
  transition: all 0.2s;
}
button:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: black;
  border-width: 2px;
  font-weight: bold;
  border-radius: 50px;
  background-color: #ffffeb;
}
span {
  color: #fd85a9;
}
img {
  height: 500px;
  width: 100vw;
  max-width: 500px;
}
